@media (max-width: 721px){
    .container-fluid{
        padding: 0 4%;
    }

    .card{
        width: 95%;
        display: block;
        height: 48vh;
    }

    form{
        width: 100%;
    }

    .container-form{
        margin-top: 10px;
    }    

    h1{
        margin-top: 0;
    }

    #question-container h1{
        margin-top: 0;
        font-size: 50px;
    }

    #question-container p{
        position: absolute;
        top: 90px;
        left: 20px;
        font-size: 17px;
        max-width: 400px;
    }

    .btn-cont{
        position: absolute;
        top: 300px;
        left: 20px;
    }

    .btn-perg{
        position: absolute;
        top: 300px;
        left: 22px;
    }

    .btn-save{
        position: absolute;
        top: 300px;
        left: 22px;
    }

    .container-option{
        position: absolute;
        top: 190px;
        left: 25px;
        font-size: 17px;
    }

    #resultado p{
        text-align: justify;
        margin-top: 0;
        font-size: 14px;
    }
}
